<h2>- クエスト実績 -</h2>
<div class='row mb-2'>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.1 -
        <%= button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#rails_tutorial'} %>
      </h4>
      <p class='lead'>RailsTutorialで作成したアプリ</p>
    </div>
  </div>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.2 -
        <%= button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#potepan_camp'} %>
      </h4>
      <p class='lead'>ポテパンキャンプの課題で作成したアプリ</p>
    </div>
  </div>
</div>
<div class='row mb-2'>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.3 -
        <%= button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#noutore_site'} %>
      </h4>
      <p class='lead'>初自作アプリの脳トレサイト</p>
    </div>
  </div>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.4 -
        <%= button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#search_form'} %>
      </h4>
      <p class='lead'>APIを使った検索フォーム</p>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.5 -
        <%= button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#portfolio'} %>
      </h4>
      <p class='lead'>ポートフォリオサイト</p>
    </div>
  </div>
  <div class='col-sm'>
  </div>
</div>
