<div class="modal fade" id="rails_tutorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Rails Totorial</h5>
        <%= render 'modal/button' %>
      </div>
      <div class="modal-body">
        <%= render 'modal/rails_tutorial' %>
      </div>
      <%= render 'modal/footer' %>
    </div>
  </div>
</div>
<div class="modal fade" id="potepan_camp" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">ポテパンキャンプ</h5>
        <%= render 'modal/button' %>
      </div>
      <div class="modal-body">
        <%= render 'modal/potepan_camp' %>
      </div>
      <%= render 'modal/footer' %>
    </div>
  </div>
</div>
<div class="modal fade" id="noutore_site" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">脳トレサイト</h5>
        <%= render 'modal/button' %>
      </div>
      <div class="modal-body">
        <%= render 'modal/noutore' %>
      </div>
      <%= render 'modal/footer' %>
    </div>
  </div>
</div>
<div class="modal fade" id="search_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">検索フォーム</h5>
        <%= render 'modal/button' %>
      </div>
      <div class="modal-body">
        <%= render 'modal/search_form' %>
      </div>
      <%= render 'modal/footer' %>
    </div>
  </div>
</div>
<div class="modal fade" id="portfolio" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">ポートフォリオ</h5>
        <%= render 'modal/button' %>
      </div>
      <div class="modal-body">
        <%= render 'modal/portfolio' %>
      </div>
      <%= render 'modal/footer' %>
    </div>
  </div>
</div>
